@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  font-family: "Muli", sans-serif;
}

.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article p {
  margin-bottom: 1rem;
}

.blog-article h1,
.blog-article h2,
.blog-article h3 {
  font-weight: bold;
}

.blog-article blockquote {
  font-style: italic;
}

.blog-article pre {
  display: block;
  background-color: #252525;
  padding: 5px;
  margin-bottom: 1rem;
  color: #e6e6e6;
}
